coding_practice/Python/tempCodeRunnerFile.py
Python/Python_Exercise/tempCodeRunnerFile.py
.vscode/settings.json
.vscode/settings.json
Python/practical/tempCodeRunnerFile.py
*.exe
.vscode/
tempCodeRunnerFile.cpp

# Ignore object files
*.o
*.obj
*.class

# Ignore build folders
/build/
/bin/
